{% block content %}
{% if success%}
{{success}}
{% endif %}
<!DOCTYPE HTML>
<html>
<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
		<script type="text/javascript">
			function submitform() {
				console.log("Test");
				document["myform"].submit();
			}
		</script>

		<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">

	</head>
<body>	
	<div>
		<form id="myform" method="post" action='/post/form_upload.html'>{% csrf_token %}						
			<label>Stock Ticker:</label>
			<input type="text" id="stock_ticker" class="span3 search-query" placeholder="Search Symbol.."/>
			<input type="submit" class="btn btn-primary" value="Submit"/>
			
			<a href="javascript: submitform()">Submit</a>
		</form>
	</div>	
<form class="well form-inline">
<h1>Stocks</h1>

<ul>stock_ticker
{% if stocks %}
	<h1>{{ stocks }}</h1>
				    	
	{%for stock in stocks %}	
		<li class="stock_list"><a href="{{TEMPLATE_DIRS}}/{{stock.stock_ticker}}">{{ stock.stock_ticker}}</a></li> 
	{% endfor %}
{% endif %}  
 					    

{% if prices %}
	<h1>{{ prices }}</h1>					    
	{%for price in prices %}	
		<li class="price_list">{{ price }}</a></li> 
	{% endfor %}

					   	
{% endif %}  
</ul>
</form>
<script src="{{STATIC_URL}}js/bootstrap.js"></script>
</body>
</html>
{% endblock %}
		                   