<!DOCTYPE html>
<html>
  

     
	
<head>
    <meta charset="utf-8">
    <title>Stock Crawler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Bootstrap -->
 </head>
	
	<body>     
    {% block content %}
				
   
			<div class="container">
				<!-- row 1 -->		
				<header class="row">
					<div class="col-lg-6 col-sm-5">		
						<!--<a href="#"><img src="{{STATIC_URL}}img/log2.png" alt="Pranav,Oviya,Dhinakar&Sangeetha. click for home."></a>—->
						-->	
					</div>
			    </header>			
				<div class="row">
			   	<!--<nav class="navbar navbar-default navbar-fixed-top">
		        	<div class="navbar-header">
	     	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
		                  <span class="sr-only">Toggle navigation</span>
		                  <span class="icon-bar"></span>
		                  <span class="icon-bar"></span>
		                  <span class="icon-bar"></span>
		                </button>
		            </div>
		            <div class="collapse navbar-collapse" id="collapse">
		                <ul class="nav navbar-nav">
		                <li class="active"><a href="#">Home</a></li>	
						{% if destination %}
					    	
					    		{%for destination in destination %}
					    			<li><a href="{{TEMPLATE_DIRS}}/{{destination.destination_name}}">{{ destination.destination_name}}</a></li> 
					    		{% endfor %}
					    
					   	
					    {% endif %}  
		                   
		                </ul> 
		            </div>
		    	</nav>
		    	--> 
		      	</div>	
		    </div>
				<!-- row 2 -->
				
			
			
				 <div class="jumbotron">
			       <h1 ont-family-serif align="center">Enter Stock Ticker Symbol</h1>
						<form method='POST' action=''><br>
							{% csrf_token %}
								{{form.as_p}}
					
							<input type='submit' class='btn-success btn-block'>
					
							<h1 align="center">{{ tic_val }}</h1>
						</form>
   
			      <!-- 
					<div id="greece-carousel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators 
						<ol class="carousel-indicators">
						    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						    <li data-target="#myCarousel" data-slide-to="1"></li>
						    <li data-target="#myCarousel" data-slide-to="2"></li>

						 </ol>
												  <!-- Wrapper for slides 
						 <section class="carousel-inner">
						    <div class="item active"> <img src="{{STATIC_URL}}img/Greece/GreeceJT.jpg" class="img-responsive img-rounded" class="pull-center"></div>
						    <div class="item"> <img src="{{STATIC_URL}}img/Greece/parthenon.jpg" class="img-responsive img-rounded" class="pull-center"></div>
						    <div class="item"> <img src="{{STATIC_URL}}img/Greece/the_parthenon.jpg" class="img-responsive img-rounded" class="pull-center"></div>
						   </section>
						  <div class="carousel-caption">
						       Greece
						  </div>
						-->  
						<!-- Controls 
						  <a class="left carousel-control" href="#greece-carousel" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						  </a>
						  <a class="right carousel-control" href="#greece-carousel" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						  </a>
						  <blockquote class="blockquote-reverse">
					  		<H1>Greece</H1>
					  		<footer>Spring 2014 </footer>
						</blockquote>	
						-->
						</div>	
					</div>					
   				
  	    
				<!-- row 3 -->
								<!-- row 4 -->
				<footer class="row">
					
				</footer>

			</div>
	
    {% endblock %}
    	 <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    </body>
</html>
